VITE_ADMIN_EMAIL=admin@hotelexcelsior.it
VITE_ADMIN_PASSWORD=admin123
VITE_CLIENT_EMAIL=cliente@hotelexcelsior.it
VITE_CLIENT_PASSWORD=cliente123
VITE_GUEST_EMAIL=guest@hotelexcelsior.it
VITE_GUEST_PASSWORD=guest123